.card {
    width: 350px;
    border: 2px solid var(--color-darkpurple);
    border-radius: 10px;
    text-align: center;
  
    a {

      .prises {
        display: flex;
        justify-content: space-around;
      }
    }
  }
  
  .card .buttons {
    margin: 1.5rem 0;
    display: flex;
    justify-content: space-evenly;
  
    button {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
  
      &.cart {
        background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
  
        &:hover {
          box-shadow: var(--color-purple) 0 2px 5px;
        }
      }
  
      &.favorite {
        width: 30px;
        background-color: transparent;
      }
  
      img {
        height: 20px;
        width: 20px;
      }
    }
  }